*{
    margin: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}


/*自定义样式*/

h1{
    width: 80%;
    height:40px;
    font-size: 30px;
    margin: 0 auto;
    background: url("../img/images/s2_03.png") no-repeat;
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    color: #09debe;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
/*向下翻页按钮*/
.swiper-button-next{
    position: absolute;
    top:auto;
    bottom:2%;
    left:50%;
    right:auto;
    margin-left:-13.5px;
    transform: rotateZ(-90deg);
}
.s1,.s2,.s3,.s4,.s5,.s6,.s7{
    height: 100%;
    background: url("../img/bj.png");
}
/*s1页*/
.s1 .header img{
  position: absolute;
}
.s1 .header img:nth-of-type(1){
    width: 35px;
    top:128px;
    left: 50px;
}

.s1 .header img:nth-of-type(2){
    width: 65px;
    top:85px;
    right: 37px;
}

.s1 .header img:nth-of-type(3) {
    width: 55px;
    left: 35px;
    bottom: 185px;
}

.s1 .header img:nth-of-type(4) {
    width: 46px;
    right: 44px;
    bottom: 210px;
}

.s1 .header img:nth-of-type(5) {
    width: 64%;
    left: 50%;
    margin-left: -32%;
    top: 30%;
}
/*首页文字部分*/
.s1 .main{
    position: absolute;
    top:35%;
}
.s1 .main img:nth-of-type(1){
    width: 40%;
}

.s1 .main img:nth-of-type(2){
    width: 80%;
    margin-bottom: 20px;
}

.s1 .main .img9{
    width: 55%;
    margin: 0 auto;
    background: url("../img/9.png");
    -moz-background-size:100% 100%;
    background-size:100% 100%;
}
/*首页footer部分文字*/
.s1 .footer{
    position: absolute;
    width: 100%;
    color: #09debe;
    bottom:0;
}

.s1 .footer p img{
    position: absolute;
}
.s1 .footer p:nth-of-type(2){
    height: 60px;
}
.s1 .footer p img:nth-of-type(1){
    width: 120%;
    left:0%;
}

.s1 .footer p img:nth-of-type(2) {
    width: 120%;
    left: -10%;
}

/*s2-s7footer自定义样式*/
.s2 .footer{
    height: 70px;
}
.s2 .footer p img,.s3 .footer p img,.s4 .footer p img,.s5 .footer p img,.s6 .footer p img,.s7 .footer p img{
    position: absolute;
}

.s2 .footer p img:nth-of-type(1),.s3 .footer p img:nth-of-type(1),.s4 .footer p img:nth-of-type(1),.s5 .footer p img:nth-of-type(1),.s6 .footer p img:nth-of-type(1),.s7 .footer p img:nth-of-type(1){
    width: 120%;
    left:0%;
    bottom:0;
}

.s2 .footer p img:nth-of-type(2),.s3 .footer p img:nth-of-type(2),.s4 .footer p img:nth-of-type(2),.s5 .footer p img:nth-of-type(2),.s6 .footer p img:nth-of-type(2),.s7 .footer p img:nth-of-type(2){
    width: 120%;
    left:-10%;
    bottom:0;
}

/*s2自定义样式*/
.s2 .header,.s3 .header,.s4 .header,.s5 .header,.s6 .header,.s7 .header{
    padding-top: 70px;
}
.s2 .main{
    text-align: left;
    width: 80%;
    margin: 0 auto;
    padding:30px 27px;
    -moz-opacity:0.3;
    background: radial-gradient(#00e7f9 -24%, #00e7f9 100%);}

.s2 .main p{
    opacity: 1;
    font-size: 15px;
    margin: 0 27px;
    line-height: 30px;
    color: #00fbc3;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
