/*...conter-inner样式...*/
.yuan{
	width: 109px;
	margin-right: 18px;
}
.it{
	width: 90px;
	
}
.yuan,.it{
	float: left;

}
.it h2{
	font-family: Arial;
	font-size: 13px;
	color: #322e2b;
}
.it p{
	font-size: 11px;
	font-family: Arial;
	color: #31233c;
	margin-top: 12px;
	margin-bottom: 10px;
}
.it img{
	margin-bottom: 20px;
}
.pic2{
	width: 235px;
	border-top: 2px #cbcbcb solid;
	border-bottom: 2px #cbcbcb solid;
	padding-top: 20px;
}
.pic3{
	margin-top: 20px;
}
.clear{
	clear: both;
}
.italy,.sed{
	float: left;
}
.name,.text{
	float: left;
	list-style: none;
}
.name{
	color: #353229;
	font-size: 12px;
	font-family: Arial;
	line-height: 300%;
	margin-left: 80px;
	margin-right: 10px;
}
input{
	width: 260px;
	height: 30px;
	margin-bottom: 10px;
	border: 1px #c2c1c1 solid;
}
textarea{
	width:410px;
	height:270px;
	font-family: Arial;
	border: 1px #c2c1c1 solid;
}
.button a{
	display: table;
	width: 83px;
	height: 34px;
	background-color: #f09e30;
	font-size: 15px;
	float: left;
	color: #f5f1d6;
	font-family: Candara;
	font-weight: 700;
	text-decoration: none;
	margin-right: 5px;
	border-radius: 5px;
	text-align: center;
	line-height: 220%;
	margin-top: 20px;
}
.button a:hover{
	background-color: #97f429;
}
.ju{
	margin-left: 238px;
}
span{
	color: #a9aaaa;
	font-family: Consolas;
	font-size: 12px;
	height: 50px;
}
/*...conter-inner样式...*/