*{
    margin: 0;
    box-sizing: border-box;
}
::before,
::after{
    content:"";
    clear:both;
    display: block;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: url("../img/bg.jpg");
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #fff;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;}
/*自定义样式*/

.s1,.s2,.s3,.s4,.s5{
    height: 100%;
    background: url("../img/bg.jpg");
    background-size: 100% 100%;
}
.s1{
    height: 100%;
    background: url("../img/bg.jpg");
    background-size: 100% 100%;
}

/*向下翻页按钮*/
.swiper-button-next{
    position: absolute;
    top:auto;
    bottom:2%;
    left:50%;
    right:auto;
    margin-left:-13.5px;
    transform: rotateZ(-90deg);
    width: 17px;
    height: 34px;
    background-size: 17px 34px;
    animation: buttonnext 1.2s infinite linear;
}
@keyframes buttonnext {
    0%{
        bottom:0;
        opacity:1;
    }
    100%{
        bottom:12px;
        opacity:0;
    }

}

/*header全局样式*/
.headertopimg img{
    position: absolute;
    z-index:100;
    width: 350px;
    top: -190px;
    left:14px;
    animation: headercircle 4s infinite linear;
}
@keyframes headercircle {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(-360deg);
    }
}
@media screen and (max-width: 414px){
    .headertopimg img{
        position: absolute;
        z-index:100;
        width: 350px;
        top: -190px;
        left: 30px;
        animation: headercircle 4s infinite linear;
    }
    @keyframes headercircle {
        0%{
            transform:rotate(0deg);
        }
        100%{
            transform:rotate(-360deg);
        }
    }
}
@media screen and (max-width: 375px){
    .headertopimg img{
        position: absolute;
        z-index:100;
        width: 350px;
        top: -210px;
        left:14px;
        animation: headercircle 4s infinite linear;
    }
    @keyframes headercircle {
        0%{
            transform:rotate(0deg);
        }
        100%{
            transform:rotate(-360deg);
        }
    }
}
@media screen and (max-width: 320px){
    .headertopimg img{
        position: absolute;
        z-index:100;
        width: 350px;
        top: -230px;
        left: -10px;
        animation: headercircle 4s infinite linear;
    }
    @keyframes headercircle {
        0%{
            transform:rotate(0deg);
        }
        100%{
            transform:rotate(-360deg);
        }
    }
}
/*音乐样式*/

#mp3btn{
    position: absolute;
    right:2%;
    top:3%;
    z-index:100;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(73, 78, 78, 0.72);
    border: solid 3px rgba(72, 65, 65, 0.55);
    text-align: center;
    line-height: 30px;
    animation: gogogo 2s infinite linear;
}
#mp3btn img{
    width: 10px;
}

@-webkit-keyframes gogogo {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


/*s1自定义样式*/
.s1 .main {
    width: 80%;
    margin: 0 auto;
    padding-top: 170px;
    color: rgb(62, 220, 254);
}
.s1 .main h1{
    color: #fff;
    line-height:50px;
}
.s1 .main img{
    width: 100%;
    height: 35px;
    margin: 0 auto;
}
.s1 .main .s1biankuang{
    height: 2px;
    background: rgb(62, 220, 254);
    border-radius: 2px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.s1 .main p span{
    float: left;
}
.s1 .main p span:nth-of-type(1){
    float: left;
}
.s1 .main p span:nth-of-type(2){
    float: right;
}
.s1 .footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.s1 .footer img:nth-of-type(1){
    width: 100%;
    position: absolute;
    bottom:0px;
    left: 0px;
}
.s1 .footer img:nth-of-type(2){
    width: 100%;
    position: absolute;
    bottom:0px;
    left: 0px;
}
.s2 .footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.s2 .footer img:nth-of-type(1){
    width: 100%;
    position: absolute;
    bottom:0px;
    left: 0px;
}
.s2 .footer img:nth-of-type(2){
    width: 100%;
    position: absolute;
    bottom:0px;
    left: 0px;
}

/*s2自定义样式*/
.s2 .header {
    margin-top: 50px;
}
.s2 .main{
    font-size: 13px;
    margin-top: 30px;
    text-align: left;
    width: 90%;
    margin: 0 auto;
    padding:15px;
}
.s2 .main p{
    line-height: 23px;
}
.s2 .main .s2mainbottomp{
    color: rgb(62, 220, 254);
}