.navbar-default{
    background:#1D011B;
    color:#cdbccc;
    height: 50px;
}
.navbar-default .navbar-nav>li>a{
    color:#cdbccc;
    margin: 0 auto;
    font-size: 12px;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #fff;
}
.navbar {
     margin-bottom: 0px;
     border: 0px solid transparent;
    border-radius: 0;
}
.header-top img{
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-left: 30px;
}
.header-top{
    padding-top: 20px;
    padding-bottom: 20px;
    background:#63065f;
}
.h1color h1{
    font-weight:lighter;
    color: #fff;
    font-size: 60px;
    font-family:方正行楷简体;
    letter-spacing: -13px;
}
.xialacaidan{
    background: #73116f;
}
.xialacaidan .navbar-nav>li>a{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
    color: #fff;
}
/*.dropdown-menu{*/
    /*width: 1000px;*/
/*}*/
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
     color: #fff;
     background-color:#73116f ;
}